@charset "UTF-8";
/* CSS Document */

.example {
  /*親div*/
  position: relative;
  /*相対配置*/
  background: #000;
}

.example p {
  position: absolute;
  /*絶対配置*/
  color: white;
  /*文字は白に*/
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 60%;
  font-size: 1.5vw;
}

.example img {
  width: 100%;
}

.filter-img {
  display: block;
  opacity: .8;
}

.accountButton {
  border: none;
  background-color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
  width: 4rem;
}

.accountButton:hover {
  border: none;
}


#container {
  padding-top: 70px;
  width: 800px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contents {
  background-color: rgba(255, 255, 255, 0.66);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contents {
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.con1 {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2rem 4rem 2.5rem;
  display: flex;
  flex-direction: column;
}

#example1,
#example2,
#example3,
#example4 {
  margin-top: -100px;
  padding-top: 100px;
}



body {
  font-family: "Tsukushi A Round Gothic", "筑紫A丸ゴシック", "游明朝", "Yu Mincho";
  background-image: url("./image/IMG_2732.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

h1 {
  margin-top: 1.5rem;
  text-align: center;
  letter-spacing: 0.05em;
  font-family: 'Apple Chancery', 'Corbel', sans-serif;
}

h2 {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 15px;
  letter-spacing: 0.05em;
  font-size: 2.5vw;
  margin-top: 5%;
}

h4 {
  text-align: center;
  padding-top: 1rem;
  letter-spacing: 0.05em;
  font-size: 2vw;
}

table {
  width: 100%;
  text-align: center;
}

th {
  padding: 20px 10px;
}

td {
  padding: 20px 10px;
  font-size: 1.5vw;
}

p {
  font-size: 1rem;
  letter-spacing: 0.04em;
  line-height: 1.6;
  margin: 0;
}

small {
  color: gray;
}

footer {
  text-align: center;
  font-size: 1vw;
}

address {
  padding: 1rem 2rem;
  font-weight: bold;
  font-style: normal;
  text-align: right;
  font-size: 1.2vw;
}

.yoshida {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.yoshida_name {
  text-align: center;
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  background-color: #EEFAFF;
}

.header__backButton {
  border: 1px solid #ccc;
  border-radius: 2rem;
  background-color: #fff;
  height: 35px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.9rem;
  color: #3d3d3d;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.titleMark {
  color: #da70d6;
}

.example4_text {
  text-align: center;
  padding: 0 0 1rem 0;
}

.example4_buttonArea {
  text-align: center;
}


@media screen and (max-width: 767px) {
  .header {
    padding-left: 1rem;
  }

  .contents {
    gap: 2rem;
  }

  .con1 {
    padding: 2rem;
  }

  h2 {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.3rem;
    margin: 0;
  }

  h4 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    padding: 0 0 0 0;
  }

  .yoshida {
    gap: 0;
    padding: 0 0 10px 0;
  }

  .yoshida_pic {
    width: 30%;
  }

  td {
    padding: 0 10px;
    font-size: 1rem;
    width: 30%;
  }

  .memberText {
    padding: 0 10px 10px;
    vertical-align: top;
  }
}